{% if page.comments %}
  {% if site.commento.enable %}
    <script type="application/javascript">
      function revealComments(e) {
        var scr = document.createElement('script');
        scr.assync = true;
        scr.src = "//{{ site.commento.domain }}/js/commento.js";
        var container = document.getElementById('commento');
        container.appendChild(scr);
        let title = document.getElementById('load-comments');
        title.innerText = 'Comments';
        title.style = null;
        title.onclick = null;
        return false;
      }
    </script>
    <noscript>You must have JavaScript enabled to use the comments.</noscript>
    <h3 id="load-comments" onclick="revealComments();" style="cursor: pointer">Load Comments</h3>
    <div id="commento">
    </div>
  {% endif %}
{% endif %}
